@{
    ViewBag.Title = "Joinus";
}
@model IJMRP.Models.ClassJoinUs




<div id="topbar" class="row wrapper border-bottom white-bg page-heading" style="border-bottom: 0px solid #e7eaec !important">
    <h2>Widgets</h2>
    <ol class="breadcrumb">
        @*<li>
                <a href="index.html">Home</a>
            </li>*@
        @*<li class="active">
                <strong>Widgets</strong>
            </li>*@
    </ol>
</div>
<div class="row">
    <div class="col-lg-1">

    </div>
    <div class="col-lg-10">
        @*<legend>Send Email </legend>*@
        @if (ViewBag.emailsuccess != null)
        {
            <script type="text/javascript">
                window.onload = function () {
                    swal("Successfully", "Email Send", "success");
                }
            </script>
        }

        <br/>

        <br />
        <br />
        <br/>


        @using (@Html.BeginForm("Joinus", "Home", FormMethod.Post, new { @id = "form1", @enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-lg-8">
            <div class="ibox float-e-margins">

                @*<div class="ibox-content">*@
                @*<form class="form-horizontal">*@
                <div class="row">
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Select Position</label>

                        <div class="col-lg-8">
                            @Html.DropDownListFor(model => model.Type, new List<SelectListItem>()
                                {
                                    new SelectListItem() { Text= "Editor", Value = "Editor" },
                                    new SelectListItem() { Text= "Reviewer", Value = "Reviewer"},
                                    new SelectListItem() { Text= "Author", Value = "Author" },
                                    new SelectListItem() { Text= "Other", Value = "Other"}
                                }, "---Select Position Type---", new { @class = "form-control" })<span class="help-block m-b-none" style="color:red">@Html.ValidationMessageFor(m => m.Type)</span>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-lg-4 control-label">Your Name</label>

                            <div class="col-lg-8">
                                @Html.TextBoxFor(m => m.Name, new { @placeholder = "Name", @class = "form-control" })<span class="help-block m-b-none" style="color:red">@Html.ValidationMessageFor(m => m.Name)</span>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-lg-4 control-label">Academic Position:</label>

                            <div class="col-lg-8">
                                @Html.TextBoxFor(m => m.Academic_Position, new { @placeholder = "Academic Position", @class = "form-control" })<span class="help-block m-b-none" style="color:red">@Html.ValidationMessageFor(m => m.Academic_Position)</span>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-lg-4 control-label">Department</label>

                            <div class="col-lg-8">
                                @Html.TextBoxFor(m => m.Department, new { @placeholder = "Department", @class = "form-control" })<span class="help-block m-b-none" style="color:red">@Html.ValidationMessageFor(m => m.Department)</span>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-lg-4 control-label">Institution Affliation Address</label>

                            <div class="col-lg-8">
                                @Html.TextBoxFor(m => m.Institution_Affliation_Address, new { @placeholder = "Institution Affliation Address", @class = "form-control" })<span class="help-block m-b-none" style="color:red">@Html.ValidationMessageFor(m => m.Institution_Affliation_Address)</span>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-lg-4 control-label">City</label>

                            <div class="col-lg-8">
                                @Html.TextBoxFor(m => m.City, new { @placeholder = "City", @class = "form-control" })<span class="help-block m-b-none" style="color:red">@Html.ValidationMessageFor(m => m.City)</span>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-lg-4 control-label">State</label>

                            <div class="col-lg-8">
                                @Html.TextBoxFor(m => m.State, new { @placeholder = "State", @class = "form-control" })<span class="help-block m-b-none" style="color:red">@Html.ValidationMessageFor(m => m.State)</span>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-lg-4 control-label">Country</label>

                            <div class="col-lg-8">
                                @Html.TextBoxFor(m => m.Country, new { @placeholder = "Country", @class = "form-control" })<span class="help-block m-b-none" style="color:red">@Html.ValidationMessageFor(m => m.Country)</span>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-lg-4 control-label">Postal Code</label>

                            <div class="col-lg-8">
                                @Html.TextBoxFor(m => m.Postal_Code, new { @placeholder = "Postal Code", @class = "form-control" })<span class="help-block m-b-none" style="color:red">@Html.ValidationMessageFor(m => m.Postal_Code)</span>
                            </div>
                        </div>

                    </div>
                    <div class="row">

                        <div class="form-group">
                            <label class="col-lg-4 control-label">Phone</label>

                            <div class="col-lg-8">
                                @Html.TextBoxFor(m => m.Phone, new {  @placeholder = "Phone", @class = "form-control" })<span class="help-block m-b-none" style="color:red">@Html.ValidationMessageFor(m => m.Phone)</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="form-group">
                            <label class="col-lg-4 control-label">Publications</label>

                            <div class="col-lg-8">
                                @Html.TextBoxFor(m => m.Publications, new { @placeholder = "Publications", @class = "form-control" })<span class="help-block m-b-none" style="color:red">@Html.ValidationMessageFor(m => m.Publications)</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label class="col-lg-4 control-label">Subject</label>

                            <div class="col-lg-8">
                                @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email", @class = "form-control" })<span class="help-block m-b-none" style="color:red">@Html.ValidationMessageFor(m => m.Email)</span>
                            </div>
                        </div>
                    </div>
                <br />
                    <div class="row">
                        <div class="form-group">
                            <label class="col-lg-4 control-label">Resume</label>

                            <div class="col-lg-8">
                                <input name="fileUploader" type="file" />

                            </div>
                        </div>
                    </div>
                <br/>
                    <div class="row">
                        <div class="col-sm-3">
                        </div>

                        <div class="col-sm-6" style="align-content:center">
                            <center>
                                <button class="btn btn-success waves-effect"><i class="zmdi zmdi-upload"></i>&nbsp;&nbsp;Submit&nbsp;&nbsp;&nbsp;</button>
                                &nbsp; &nbsp; &nbsp; &nbsp;
                                <button class="btn btn-danger waves-effect" type="reset"><i class="zmdi zmdi-refresh"></i>&nbsp;Reset</button>
                            </center>
                        </div>

                        <div class="col-sm-3">
                        </div>
                    </div>

                    @*</form>*@
                    @*</div>*@
                </div>
            </div>
        <div class="col-lg-4">
            <img alt=""src="~/img/join_us.png" />
        </div>
        </div>








}

        <p>
        </p>
    </div>

    <div class="col-lg-1">

    </div>
</div>
