@{
    ViewBag.Title = "Submit_Manuscripts";
}
@model IJMRP.Models.EmailClass


<div id="topbar" class="row wrapper border-bottom white-bg page-heading" style="border-bottom: 0px solid #e7eaec !important">
    <h2>Widgets</h2>
    <ol class="breadcrumb">
        @*<li>
                <a href="index.html">Home</a>
            </li>*@
        @*<li class="active">
                <strong>Widgets</strong>
            </li>*@
    </ol>
</div>
<br />
<br />
<br />
<br />
<div class="row">
    <div class="col-lg-1">

    </div>
    <div class="col-lg-10">
       @*<legend>Send Email </legend>*@
        @if (ViewBag.emailsuccess != null)
        {
            <script type="text/javascript">
                window.onload = function () {
                    swal("Successfully", "Email Send", "success");
                }
            </script>
        }


       

        @using (@Html.BeginForm("Submit_Manuscripts", "Home", FormMethod.Post, new { @id = "form1", @enctype = "multipart/form-data" }))
{
    <div class="row">

        <div class="col-lg-9">
            <div class="ibox float-e-margins">

                @*<div class="ibox-content">*@
                @*<form class="form-horizontal">*@
                <div class="row">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Your Name</label>

                        <div class="col-lg-10">
                            @Html.TextBoxFor(m => m.name, new { @placeholder="Name",@class="form-control"})<span class="help-block m-b-none" style="color:red">@Html.ValidationMessageFor(m => m.name)</span>
                        </div>
                    </div>

                </div>
                <div class="row">

                    <div class="form-group">
                        <label class="col-lg-2 control-label">Your Email</label>

                        <div class="col-lg-10">
                            @Html.TextBoxFor(m => m.sender, new { @type = "email", @placeholder = "Email", @class = "form-control" })<span class="help-block m-b-none" style="color:red">@Html.ValidationMessageFor(m => m.sender)</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Subject</label>

                        <div class="col-lg-10">
                            @Html.TextBoxFor(m => m.Subject, new {  @placeholder = "Subject", @class = "form-control" })<span class="help-block m-b-none" style="color:red">@Html.ValidationMessageFor(m => m.Subject)</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Message</label>

                        <div class="col-lg-10">
                            @Html.TextAreaFor(m => m.Body, new { @placeholder = "Message", @class = "form-control" })<span class="help-block m-b-none" style="color:red">@Html.ValidationMessageFor(m => m.Body)</span>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <div class="row">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Attachment</label>

                        <div class="col-lg-10">
                            <input name="fileUploader" type="file" />

                        </div>
                    </div>
                </div>
                <br />
                <br />
                <div class="row">
                    <div class="col-sm-3">
                    </div>

                    <div class="col-sm-6" style="align-content:center">
                        <center>
                            <button class="btn btn-success waves-effect"><i class="zmdi zmdi-upload"></i>&nbsp;&nbsp;Submit&nbsp;&nbsp;&nbsp;</button>
                            &nbsp; &nbsp; &nbsp; &nbsp;
                            <button class="btn btn-danger waves-effect" type="reset"><i class="zmdi zmdi-refresh"></i>&nbsp;Reset</button>
                        </center>
                    </div>

                    <div class="col-sm-3">
                    </div>
                </div>

                @*</form>*@
                @*</div>*@
            </div>
        </div>
        <div class="col-lg-3">
            <img alt="" src="~/img/Submit_manuscript.png" />

        </div>

    </div>







}

<p>
        </p>
    </div>

    <div class="col-lg-1">

    </div>
</div>
<br/>
<br/>
<div class="row">
    <div class="col-lg-1">

    </div>
    <div class="col-lg-10">
        @if (@ViewBag.Sub_Manual != null)
        {
            @ViewBag.Sub_Manual
        }
    </div>

    <div class="col-lg-1">

    </div>
</div>