@{
    ViewBag.Title = "Archive";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
    
}

@model IJMRP.ViewModel.ArchiveViewmodel
          


@{
    if (ViewBag.SvaeSuccess != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                swal("Successfully", "Record Inserted", "success");
            }
        </script>
    }

    if (ViewBag.CreateEmpError != null)
    {


        <script type="text/javascript">
            window.onload = function () {
                debugger;
                // notify('top', 'center', 'fa fa-comments', 'danger', 'animated bounceIn', 'animated bounceOut');
                Command: toastr['error']('@ViewBag.CreateEmpError', "!!Error")

                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "progressBar": true,
                    "preventDuplicates": false,
                    "positionClass": "toast-top-right",
                    "onclick": null,
                    "showDuration": "400",
                    "hideDuration": "1000",
                    "timeOut": "7000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
            }
        </script>



    }





}

           <script>
               $(document).ready(function () {
                   $('#datepicker_single').datetimepicker({
                       ignoreReadonly: true,

                       format: 'YYYY-MM-DD'


                   });






                   










                 



               })
           </script>
@using (Html.BeginForm("Archive", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <div class="panel panel-info">
            <div class="panel-heading">
                Add Archive 
            </div>
            <div class="panel-body">

               
                    @*< class="form-horizontal">*@




                    <div class="row">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Archive Name</label>

                            <div class="col-lg-10">
                                @Html.TextBoxFor(c => c.singleArchive.ARCHIVE_DETAILS, new { @placeholder = "Archive Name", @class = "form-control" })<span style="color:red">@Html.ValidationMessageFor(c => c.singleArchive.ARCHIVE_DETAILS)</span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Year </label>

                            <div class="col-lg-8">
                                @Html.TextBoxFor(c => c.singleArchive.ARCHIVE_YEAR, new { @id = "datepicker_single", @readonly = "readonly", @placeholder = "Year", @class = "form-control" })<span style="color:red" class="help-block m-b-none">@Html.ValidationMessageFor(c => c.singleArchive.ARCHIVE_YEAR)</span>
                            </div>
                            <div class="col-lg-2">
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Upload File </label>

                            <div class="col-lg-8">
                                <input type="file" name="file" class="form-control" id="file" />
                                @*<span style="color:red" class="help-block m-b-none">@Html.ValidationMessageFor(c => c.singleArchive.ARCHIVE_FILE)</span>*@
                            </div>
                            <div class="col-lg-2">
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-3">
                        </div>

                        <div class="col-sm-6" style="align-content:center">
                            <center>
                                <button class="btn btn-success waves-effect"><i class="zmdi zmdi-upload"></i>&nbsp;&nbsp;Add&nbsp;&nbsp;&nbsp;</button>
                                &nbsp; &nbsp; &nbsp; &nbsp;
                                <button class="btn btn-danger waves-effect" type="reset"><i class="zmdi zmdi-refresh"></i>&nbsp;Reset</button>
                            </center>
                        </div>

                        <div class="col-sm-3">
                        </div>
                    </div>

         
            </div>
        </div>
    </div>
   
    <div class="col-lg-1"></div>

</div>
}
    