@{
    ViewBag.Title = "Current_Issue";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}
@model IJMRP.Models.tblCurrentIssue
@*<div id="topbar" class="row wrapper border-bottom white-bg page-heading" style="border-bottom: 0px solid #e7eaec !important">
    <ol class="breadcrumb">
        <li>
            
        </li>
        <li class="active">
            <strong>Widgets</strong>
        </li>
    </ol>
</div>
<br />
<br />
<br /><br />
<br />
<br />*@
<script>
    $(document).ready(function () {
        CKEDITOR.replace('Ab_editor')
        $('#datepicker_single').datetimepicker({
            ignoreReadonly: true,

            format: 'YYYY-MM-DD HH:mm:ss'


        });
    })
</script>
@if (ViewBag.sucess != null)
{
    <script type="text/javascript">
        window.onload = function () {
            swal("Successfully", "Record Inserted", "success");
        }
    </script>
}
<div class="row">
    <div class="col-lg-1">

    </div>
    <div class="col-lg-10">
        @*<legend>Send Email </legend>*@

        @*<div class="col-lg-1">

            </div>*@

        @*<div class="col-lg-10">*@



        @using (@Html.BeginForm("Current_Issue", "Admin", FormMethod.Post, new { @id = "form1", @enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Add Current Issue
                        </div>
                        <div class="panel-body">


                            @*<div class="ibox-content">*@
                            @*<form class="form-horizontal">*@
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Issue Name *</label>

                                    <div class="col-lg-10">
                                        @Html.TextBoxFor(m => m.CURENTISSUE_NAME, new { @placeholder = "Subject", @class = "form-control" })<span class="help-block m-b-none" style="color:red">@Html.ValidationMessageFor(m => m.CURENTISSUE_NAME)</span>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Select Group*</label>

                                    <div class="col-lg-10">
                                        @Html.DropDownListFor(c => c.CURENTISSUE_GROUP, (IEnumerable<SelectListItem>)ViewBag.GroupVd as SelectList, "--Select Group--", new { @class = "form-control" })<span class="help-block m-b-none" style="color:red">@Html.ValidationMessageFor(m => m.CURENTISSUE_GROUP)</span>


                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Select Archive*</label>

                                    <div class="col-lg-10">
                                        @Html.DropDownListFor(c => c.CURENTISSUE_ARCHIVE_ID, (IEnumerable<SelectListItem>)ViewBag.RoleVD as SelectList, "--Select Archive--", new { @class = "form-control" })<span class="help-block m-b-none" style="color:red">@Html.ValidationMessageFor(m => m.CURENTISSUE_ARCHIVE_ID)</span>


                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Author Details *</label>

                                    <div class="col-lg-10">
                                        @Html.TextBoxFor(m => m.CURENTISSUE_AUTHOR, new { @placeholder = "Author Details", @class = "form-control" })<span class="help-block m-b-none" style="color:red">@Html.ValidationMessageFor(m => m.CURENTISSUE_AUTHOR)</span>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Upload File </label>

                                    <div class="col-lg-8">
                                        <input type="file" name="file" class="form-control" id="file" />
                                        @*<span style="color:red" class="help-block m-b-none">@Html.ValidationMessageFor(c => c.singleArchive.ARCHIVE_FILE)</span>*@
                                    </div>
                                    <div class="col-lg-2">
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Date </label>

                                    <div class="col-lg-8">
                                        @Html.TextBoxFor(m =>m.CURENTISSUE_DATE, new { @placeholder = "Date", @class = "form-control",@id="datepicker_single" })<span class="help-block m-b-none" style="color:red">@Html.ValidationMessageFor(m => m.CURENTISSUE_DATE)</span>
                                        @*<span style="color:red" class="help-block m-b-none">@Html.ValidationMessageFor(c => c.singleArchive.ARCHIVE_FILE)</span>*@
                                    </div>
                                    <div class="col-lg-2">
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Abstract*</label>

                                    <div class="col-lg-10">
                                        @Html.TextAreaFor(m => m.CURENTISSUE_ABSTRACT, new { @class = "form-control", @id = "Ab_editor" })<span class="help-block m-b-none" style="color:red">@Html.ValidationMessageFor(m => m.CURENTISSUE_ABSTRACT)</span>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-3">
                                </div>

                                <div class="col-sm-6" style="align-content:center">
                                    <center>
                                        <button class="btn btn-success waves-effect"><i class="zmdi zmdi-upload"></i>&nbsp;&nbsp;Add&nbsp;&nbsp;&nbsp;</button>
                                        &nbsp; &nbsp; &nbsp; &nbsp;
                                        <button class="btn btn-danger waves-effect" type="reset"><i class="zmdi zmdi-refresh"></i>&nbsp;Reset</button>
                                    </center>
                                </div>

                                <div class="col-sm-3">
                                </div>
                            </div>

                            @*</form>*@
                            </div>
                        </div>
                    </div>

                </div>




        }

        @*</div>*@
        @*<div class="col-lg-1">

            </div>*@
    </div>

    <div class="col-lg-1">

    </div>
</div>