@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model IJMRP.Models.LoginInputModel


}


<body class="gray-bg">

    <div class="loginColumns animated fadeInDown">
        <div class="row">

            <div class="col-md-6">
                <h2 class="font-bold">Welcome to IntJMRP</h2>

                @*<p>
                    Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
                </p>

                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                </p>

                <p>
                    When an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>

                <p>
                    <small>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</small>
                </p>*@

            </div>
            <div class="col-md-6">
                <div class="ibox-content">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.TextBoxFor(x => x.UserName, new { @type = "text", @class = "form-control", placeholder = "Username", id = "UsernameInput", @required = "" })
                            

                            @*<input type="email" class="form-control" placeholder="Username" required="">*@
                        </div>
                        <div class="form-group">
                            @*<input type="password" class="form-control" placeholder="Password" required="">*@
                            @Html.TextBoxFor(x => x.Password, new { @class = "form-control", @type="password",@id = "passwordinput", @placeholder = "Password",@required = "" })


                        </div>
                        <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
}
                        @*<a href="#">
                            <small>Forgot password?</small>
                        </a>

                        <p class="text-muted text-center">
                            <small>Do not have an account?</small>
                        </p>
                        <a class="btn btn-sm btn-white btn-block" href="register.html">Create an account</a>*@
                    @if ((@ViewBag.LERROR != null))
                    {
                        @*<h3 style="color: red; font-size: medium">

                        </h3>*@
                        <p class="m-t">
                            <small style="color: red;">@ViewBag.LERROR</small>
                    </p>
                    }

                    @*<p class="m-t">
                        <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small>
                    </p>*@
                </div>
            </div>
        </div>
        <hr />
        <br/>
        <br />
        <br />
        <br />
        <br />
        <div class="row">
            <div class="col-md-12">
                <p><strong>Copyright</strong> © @DateTime.Now.Year International Journal of Medical Research and Practice (IntJMRP) All rights reserved.<br /> <small>Website Devloped By &nbsp;<a href="http://profunia.com/" target="_blank">ProFunia Technologies</a> </small></p>
            </div>
            
        </div>
    </div>

</body>
